<button class="btn btn-outline-primary btn-sm mb-0" (click)="open(mymodal)"data-backdrop="static"
data-keyboard="false">

  <a href="javascript:;">
    <i class="fa fa-plus text-secondary mb-0"></i>
    <h5 class=" text-secondary"> Ajouter</h5>
  </a>

</button>
   
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Ajouter un compte bancaire</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    <app-add-accountefromtable [alert]=0></app-add-accountefromtable>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>