<div class="row">
    <div class="col-12">
      <div class="card mb-4">
        
        <div class="card-header pb-0">
          <h6>Comptes bancaire</h6>
          
        </div>
        
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Identificateur</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Banque</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Solde</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Libellé</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let dataItem of AccounteList">
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{dataItem.AccounteId}}</h6>
        
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{dataItem.BankName}}</p>
                      <p class="text-xs text-secondary mb-0"></p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      <span class="badge badge-sm bg-gradient-success"*ngIf="dataItem.AccounteBalance>0">{{dataItem.AccounteBalance}}</span>
                      <span class="badge badge-sm bg-gradient-secondary"*ngIf="dataItem.AccounteBalance==0">{{dataItem.AccounteBalance}}</span>
                      <span class="badge badge-sm bg-gradient-danger"*ngIf="dataItem.AccounteBalance<0">{{dataItem.AccounteBalance}}</span>


                    </td>
                    <td class="align-middle text-center">
                      <span class="text-secondary text-xs font-weight-bold">{{dataItem.Wording}}</span>
                    </td>
                    <td class="align-middle">
                     <app-edit-account-table [acc]="dataItem"></app-edit-account-table>
                    </td>
                    
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="float-right ">
                     
                        <app-addbuttonintable></app-addbuttonintable>
                        
                     
                    </td>
                  </tr>
                  
                
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
